<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @transfer.amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @transfer.currency %>
</p>

<p>
  <b>Uniquekey:</b>
  <%= @transfer.uniqueKey %>
</p>

<p>
  <b>Status:</b>
  <%= @transfer.status %>
</p>

<p>
  <b>Sender:</b>
  <%= @transfer.sender %>
</p>

<p>
  <b>Receiver:</b>
  <%= @transfer.receiver %>
</p>


<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
